body {
  font-family: 'Work Sans', sans-serif;
  background-color: #F5F5F5
}

#page-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: -170px;
  margin-bottom: -150px;
}

.form {
  display: flex;
  justify-content: space-between;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

tbody {
  border-radius: 10px;
  border: 1px solid #ddd;
  border-collapse: collapse
}

 td {
  border-collapse: inherit;
  border: 1px solid #ddd;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

th {
  border: 1px solid #ddd;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  height: 50px;
  text-align: center;
  background-color: #F0F8FF;
  border-collapse: collapse;
}

h2 {
  margin-top: 0px;
}

.section-header {
  font: bolder; 
  font-size: 24px;
  margin-bottom: 30px;
}

.add-stock-component {
  margin-left: 60px;
}

#message {
  display: inline-block;
  max-width: 351.63px;
}

.watchlist-entry {
  padding-bottom: 20px;
}

.price-up {
  color: green;
}

.price-down {
  color: red;
}

.price-same {
  color: black;
}

.flash-red{
  color: red
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
/* Pulse class and keyframe animation */
.pulseit{
	-webkit-animation: pulse linear .5s infinite;
	animation: pulse linear .5s infinite;
}
@-webkit-keyframes pulse {
	0% { width:200px; } 
	50% { width:340px; } 
	100% { width:200px; }
}
@keyframes pulse {
	0% { width:200px; } 
	50% { width:340px; } 
	100% { width:200px; }
}

.flash-green{
  background-color:#85bb65;
	-webkit-animation: flash linear 1s;
	animation: flash linear 1s;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
/* Pulse class and keyframe animation */
.pulseit{
	-webkit-animation: pulse linear .5s infinite;
	animation: pulse linear .5s infinite;
}
@-webkit-keyframes pulse {
	0% { width:200px; } 
	50% { width:340px; } 
	100% { width:200px; }
}
@keyframes pulse {
	0% { width:200px; } 
	50% { width:340px; } 
	100% { width:200px; }
}